/* ========== header ============== */
.header {
    display: flex;
    align-items: center;
  }
  
  .header img {
    width: 220px;
  }
  
  .header h1 {
    color: rgb(231, 4, 4);
    font-size: 35px;
  }
  /* ================================== */