.noti {
    width: 27%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menuItem {
    text-align: end;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.Notifications {
    border: 1px dashed red;
    padding: 15px;
    border-radius: 5px;
    position: relative;


}

.Notifications ul {
    margin: 20px 0 0 10px;
}

.Notifications ul li[data-notification-type="default"]{
    color: blue
}

.Notifications ul li[data-notification-type="urgent"]{
    color: red
}